<div class="container">
  <h4>Eventos</h4>
  <hr>

  <div class="form-inline">
    <div class="form-group mb-2">
      <label class="mr-2">Filtro: </label>
      <input type="text" class="form-control mr-2" placeholder="filtre pelo tema ou local"
            [(ngModel)]=filtroLista>
    <div>
  </div>

    <table class="table table-striped mt-2">
      <thead class="thead-dark">
        <tr>
        <th>
          <button class="btn btn-outline-light btn-sm" (click)="alterarImagem()">
            {{ imagemVisivel ? 'Ocultar' : 'Exibir' }}
          </button>
        </th>
        <th>#</th>
        <th>Tema</th>
        <th>Local</th>
        <th>Data</th>
        <th>Qtd de Pessoas</th>
        <th>Lote</th>
        <th>Opções</th>
      </thead>
      <tbody *ngIf="eventos && eventos.length">
       <tr *ngFor="let evento of eventosFiltrados">
         <td>
           <img [collapse]="!imagemVisivel" src="assets/{{evento.imagemURL}}"
                [style.width.px]="larguraImagem"
                [style.margin.px]="marginImagem">
          </td>
         <td>{{evento.eventoId}}</td>
         <td>{{evento.tema}}</td>
         <td>{{evento.local}}</td>
         <td>{{evento.dataEvento}}</td>
         <td>{{evento.qtdPessoas}}</td>
         <td>{{evento.lote}}</td>
         <td>
           <button class="btn btn-primary btn-sm mr-2">Editar</button>
           <button class="btn btn-danger btn-sm">Excluir</button>
         </td>
       </tr>
      </tbody>
      <tfoot *ngIf="!eventos.length">
        <tr>
          <td colspan="8" class="text-center">
             <h4>Nenhum evento encontrado!</h4>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>

{{eventos[0] | json}}

